.nav {
    grid-area: n;
    background: red;
}

.item{
    color: white;
}

.active {
    color: gold;
}

.white{
    background-color: white;
}

nav{
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
    color: black;
}

.imgFavoriteFriends{

}